.post-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.post-text-container {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 144px;

  h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .post-text{
    width: 260px;
  }
}
