.submit-button-gray {
  background: #b4b4b4;
  border-radius: 80px;
  font-family: Nunito;
  width: 100px;
  height: 34px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 100px;
}

.submit-button-yellow {
  background: #f4e041;
  border-radius: 80px;
  font-family: Nunito;
  width: 100px;
  height: 34px;
  border: none;
  cursor: pointer;
  &:hover {
    background: #ffe302;
  }
  margin-top: 50px;
  margin-bottom: 100px;
}
