.header-container {
  display: flex;
  justify-content: space-between;
  margin-left: 64px;
  margin-right: 60px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.headerBtn {
  background-color: #f4e041;
  border-radius: 80px;
  font-family: Nunito;
  width: 100px;
  height: 34px;
  border: none;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    background: #ffe302;
  }
}


