.content {
  background-color: #F8F8F8;
}



.sign-up-btn {
  background: #B4B4B4;
  border-radius: 80px;
  font-family: Nunito;
  width: 100px;
  height: 34px;
  border: none;
  cursor: pointer;
  &:hover {
    background: #ffe302;
  }
  margin-top: 50px;
  margin-left: 45%;
  margin-bottom: 100px;
}