.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.info-input {
  width: 380px;
  height: 54px;
  border-radius: 4px;
  margin-top: 50px;
  border: 1px solid #d0cfcf;
  box-sizing: border-box;
  padding-left: 16px;
}

.number-type {
  position: absolute;
  left: 10px;
  bottom: -30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #7e7e7e;
}
